DB_USERNAME=root
DB_PASSWORD=your_password
JWT_SECRET_KEY=your_secret

# Spring Mail Configuration
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=mangablade123@gmail.com
SPRING_MAIL_PASSWORD=ffbhxanhnytjlmul