DB_USERNAME=root
DB_PASSWORD=your_password
JWT_SECRET_KEY=your_secret

# Elasticsearch
ELASTICSEARCH_URL=https://your-elasticsearch-endpoint:443
ELASTICSEARCH_API_KEY=your_elasticsearch_api_key

# Spring Mail Configuration
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your_email
SPRING_MAIL_PASSWORD=your_password
