DB_USERNAME=root
DB_PASSWORD=your_password
DB_URL=jdbc:mysql://localhost:3306/MangaBlade?createDatabaseIfNotExist=true&serverTimezone=UTC
JWT_SECRET_KEY=your_secret

# Elasticsearch
ELASTICSEARCH_URL=https://your-elasticsearch-endpoint:443
ELASTICSEARCH_API_KEY=your_elasticsearch_api_key

# Spring Mail Configuration
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your_email
SPRING_MAIL_PASSWORD=your_password

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Cloudflare Turnstile
VITE_TURNSTILE_SITE_KEY=your-turnstile-site-key
TURNSTILE_SECRET=your-turnstile-secret-key
